form {
    background-color: #eee;
    padding: 20px;
    margin 0 auto;
    width: 540px;
    font: 16px 'Arial', sans-serif;
    border-radius: 10px;
}
textarea {
    margin: 10px 0;
    width: 540px;
    height: 120px;
}
body {
    margin-left: 30%;
    margin-right: 30%;
}