<!DOTYPE html>
    <html>
        <head>
            <link rel= "stylesheet" type= "text/css" href= "{{style_sheet}}">
            <!-- link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}" -->
        </head>
    <body>
        <!--create yoru form here-->
        <div>
        <form action="/" method="post">
            Rotate by:
            <input type="text" name="rot" value="0"/>
            <textarea name="text">{{textarea_content}}</textarea>
            <input type="submit" value="Submit Query" />
        </form>
        </div>
    </body>
</html>